* {
  box-sizing: border-box;
}
body {
  font-family: "Caveat", cursive;
  background-image: url(/resources/images/main_backgroud.jpg);
  background-size: cover;
}

nav {
  font-size: x-large;
}

nav span {
  font-size: 40px;
}

.full {
  height: 100vh;
}

.img_shadow {
  height: 157px;
  width: 284px;
  box-shadow: 10px 10px 10px black;
}

.btn_shadow {
  box-shadow: 5px 5px 7px black;
}