<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main_style.css">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row full">
            <div class="col-12 p-0">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <div class="collapse navbar-collapse">
                        <div class="navbar-nav container-fluid">
                            <span class="navbar-text col">Passion</span>
                            <a class="nav-item nav-link col d-flex align-items-center" href="#">Main</a>
                            <a class="nav-item nav-link col d-flex align-items-center" href="#">Dungeon</a>
                            <a class="nav-item nav-link col d-flex align-items-center" href="#">Inventory</a>
                            <a class="nav-item nav-link col d-flex align-items-center" href="#">Shop</a>
                            <a class="nav-item nav-link col d-flex align-items-center" href="#">Pets</a>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-4 d-flex align-items-center images">
                        <img src="/resources/images/hero.png" alt="">
                    </div>
                    <div class="col-8" id="user_stats_HTML">
            
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous">
    </script>
    <script type="module" src="/js/user_profile.js"></script>
</body>
</html>