<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/css/main_style.css" />
  <link rel="stylesheet" href="/css/dungeon_style.css" />
  <title>Passion</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse">
      <div class="navbar-nav container-fluid">
        <span class="navbar-text col">Passion</span>
        <a class="nav-item nav-link col d-flex align-items-center" href="/templates/main/main.html">Main</a>
        <a class="nav-item nav-link col d-flex align-items-center active"
          href="/templates/dungeon/dungeon.html">Dungeon</a>
        <a class="nav-item nav-link col d-flex align-items-center" href="#">Inventory</a>
        <a class="nav-item nav-link col d-flex align-items-center" href="#">Shop</a>
        <a class="nav-item nav-link col d-flex align-items-center" href="#">Pets</a>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="row" id="dungeon_list_HTML">
    </div>
  </div>

  <!-- Modal Window for Castle of giants-->
  <div class="modal fade" id="dungeon_1ModalWindow" tabindex="-1" role="dialog"
    aria-labelledby="dungeon_1ModalWindowTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title" id="dungeon_1ModalWindowTitle">Castle of giants</h1>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row" id="modal_window_for_first_dundeon">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script type="module" src="/js/dungeons.js"></script>
  <script type="module" src="/js/mobs.js"></script>
</body>

</html>